.container
  .text-center
    %h1 Principales variables económicas
  .row.g-3
    .col
      .card{style: "width: 18rem;"}
        .card-body
          %h5.card-title Cotización del Uva
          %h6.bold= number_to_currency(100)
          %h6.card-subtitle.my-2.text-body-secondary ¿Qué es el Uva?
          %p.card-text
            La Unidad de Valor Adquisitivo UVA equivale a la milésima parte del costo promedio de construcción de un metro cuadrado de vivienda.
            El valor se actualiza diariamente en función a la variación del CER (Coeficiente de Estabilización de Referencia),
            basado en el índice de precios al consumidor.
          %a.card-link{href: "#"} Fuente
